<!-- 레이아웃 템플릿 삽입 ( header 페이지 삽입 ) -->
{{>layouts/header}}
    <!-- content -->
    <div class = "bg-dark text-white p-5">
        <h1>Hello {{username}}!</h1>
    </div>

<!-- 레이아웃 템플릿 삽입 ( footer 페이지 삽입 ) -->
{{>layouts/footer}}